:root {
    --main-background-color: #FFFFFF;
    --secondary-background-color: #2F303A;
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196F3;
    --logo-header: #000000;
    --logo-footer: #FFFFFF;
    --header-line-border-color: #ECECEC;
    --slogan-text-color: #FFFFFF;
    --advantages-box-background-color: #F5F4FA;
    --work-text-color: #FFFFFF;
    --team-background-color: #F5F4FA;
    --team-icon-fill: #AFB1B8;
    --team-accent-icon-fill: #FFFFFF;
    --clients-icon-fill: #AFB1B8;
    --clients-border-color: #AFB1B8;
    --btn-accent-text-color: #FFFFFF;
    --btn-filter-bcg-color: #F5F4FA;
    --btn-filter-border-color: transparent;
    --project-caption-border-color: #EEEEEE;
    --project-overlay-text-color: #FFFFFF;
    --project-overlay-background-color: rgba(33, 150, 243, 0.9);
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --location-text-color: #FFFFFF;
    --footer-socials-text-color: #FFFFFF;
    --footer-icon-fill: #FFFFFF;
    --footer-icon-bcg-color: rgba(255, 255, 255, 0.1);
    --modal-icon-close-fill: #000000;
    --modal-icon-close-border-color: rgba(0, 0, 0, 0.1);
    --modal-form-icon-fill: #212121;
    --modal-btn-text-color: #FFFFFF;
    --checkbox-icon-fill: #FFFFFF;
    --checkbox-border-color: #212121;
}

$main-font-family:Roboto, sans-serif;