.footer {
	margin-left: auto;
	margin-right: auto;
	padding-top: 60px;
	padding-bottom: 60px;

	background-color: var(--secondary-background-color);
}

.footer__box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 60px;

	text-align: center;

	@media (min-width: 768px) {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-around;
	}

	@media (min-width: 1200px) {
		display: flex;
		justify-content: space-between;
		align-items: baseline;

		text-align: start;
	}
}

.footer__logo {
	margin-bottom: 20px;
}
