.header {
    margin-left: auto;
    margin-right: auto;

    border-bottom: 1px solid var(--header-line-border-color);
}

.header__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    height: 1px;

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;

        gap: 85px;

        min-height: 80px;
    }
}

.header__nav { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    // gap: 86px;
    height: 100%;
    width: 100%;
    // padding: 0px 15px 0px;
    
    @media (min-width: 1200px) {
            gap: 90px;
        }
    
}

.header__burger {  
    
    background-color: transparent;
    fill: var(--mobile-menu-color);
    
    cursor: pointer;
    
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            fill: var(--accent-color);
        }

    @media (min-width: 768px) {
        display: none;
    }
}

.header__contacts { 
    // justify-content: flex-end;
    // display: flex;
    // flex-direction: column;
    // // flex: 1 1 auto;
}