.button {
    display: inline-block;
    padding: 10px 0px 10px 0px;
    border-radius: 4px;
    border-width: 0px;

    background-color: var(--accent-color);
    color: var(--btn-accent-text-color);
    border-color: var(--accent-color);

    text-align: center;
    font-family: $main-font-family;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    cursor: pointer;
}