.contacts {
	font-family: $main-font-family;
	font-weight: 500;
	font-size: 12px;
	line-height: 1.166;
	letter-spacing: 0.02em;

	@media (max-width: 767px) {
		display: none;
	}

	@media (min-width: 768px) {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	@media (min-width: 1200px) {
		display: flex;
		flex-direction: row;
		gap: 30px;
		width: 100%;

		font-size: 14px;
		line-height: 1.17;
	}
}

.contacts__link {
	display: flex;
	gap: 8px;
	align-items: center;

	color: var(--primary-text-color);

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.contacts__icon {
	fill: currentColor;

	&--mail-big {
		@media (min-width: 1200px) {
			width: 16px;
			height: 12px;
		}
	}

	&--tel-big {
		@media (min-width: 1200px) {
			width: 10px;
			height: 16px;
		}
	}
}
