html {
    box-sizing: border-box;
}

body {
    margin: 0;

    background-color: var(--main-background-color);
    color: var(--primary-text-color);

    font-family: $main-font-family;
    font-weight: 400;
    font-size: 14px;

}